
/*-- popular-grids --*/
.popular-grids {
    background: #F4F7F9;
}
.popular-info h3{
	color: #292929;
    font-family: 'Roboto', sans-serif;
    font-weight: 300;
    font-size: 2em;
    margin: 0;
}

.address h4 {
    color: #797979;
    margin-top: -3px;
    text-transform: uppercase;
    margin-bottom: 20px;
	    font-size: 18px;
}

section.contact-infos {
    border: 1px solid #eee;
    margin-bottom: 15px;
    padding: 10px;
}
/*-- slider --*/
.slider {
    margin: 3em 0 0 0;
}
#flexiselDemo1, #flexiselDemo2, #flexiselDemo3 {
	display: none;
}
.nbs-flexisel-container {
	position: relative;
	max-width: 100%;
}
.nbs-flexisel-ul {
	position: relative;
	width: 9999px;
	margin: 0px;
	padding: 0px;
	list-style-type: none;
	text-align: center;
}
.nbs-flexisel-inner {
    overflow: hidden;
    margin-top: 0;
}
.nbs-flexisel-item {
	float: left;
	margin: 0px;
	padding:0 9px;
	cursor: pointer;
	position: relative;
}
ul#flexiselDemo1 li a{
	text-decoration:none;
	display:block;
}
ul#flexiselDemo1 li a h4{
	text-align: left;
    padding-left: 14px;
	color:#478D06;
	font-family: 'Exo2-Medium';
	font-size:1.2em;
	margin-top:0.5em;
}
ul#flexiselDemo1 li a h4:hover{
	color: #DBC585;
}
.nbs-flexisel-item > a img {	
	cursor: auto;
    position: relative;
    width: 100%;
    margin: 0;
	height:150px;
}
.nbs-flexisel-nav-left, .nbs-flexisel-nav-right {
	width: 45px;
	height: 45px;
	position: absolute;
	cursor: pointer;
	z-index: 100;
	margin-top:0em;
}
.nbs-flexisel-nav-left {
    left: -1%;
    background: url(../images/s-arrow.png) no-repeat 0px 0px;
}
.nbs-flexisel-nav-right {
    right: -1%;
    background: url(../images/s-arrow.png) no-repeat -51px 0px;
}


@media (max-width:640px){
	
	.nbs-flexisel-nav-left, .nbs-flexisel-nav-right {
		margin-top: 3em;
	}
	
	.nbs-flexisel-nav-left, .nbs-flexisel-nav-right {
		margin-top: 7em;
	}
	
}
@media (max-width:320px){
	
	.slider {
		margin: 2em 0 0 0;
	}
	.nbs-flexisel-nav-left, .nbs-flexisel-nav-right {
		margin-top: 4em;
	}
	
}	